    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <img src="./img/home.svg" class="home">
                        <a class="navbar-brand" href="/"></a>
                    </img>
                        <ul class="navbar-nav" id="font">
                            <li class="nav-item">
                                <a class="nav-link active" id="title" aria-current="page" href="#">My Services</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="title" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Domains
                                </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">My Domains</a></li>
                                        <li><a class="dropdown-item" href="#">Renew Domains</a></li>
                                        <li><a class="dropdown-item" href="#">Register a New Domain</a></li>
                                        <li><a class="dropdown-item" href="#">Transfer Domains to Us</a></li>
                                    </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="title" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Billing
                                </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Invoices</a></li>
                                        <li><a class="dropdown-item" href="#">My Quotes</a></li>
                                        <li><a class="dropdown-item" href="#">Mass Payment</a></li>
                                        <li><a class="dropdown-item" href="#">Payment Methods</a></li>
                                        <li><a class="dropdown-item" href="#">Add Funds</a></li>
                                    </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="title" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Support
                                </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Knowledgebase</a></li>
                                        <li><a class="dropdown-item" href="#">Open New Tickets</a></li>
                                        <li><a class="dropdown-item" href="#">View My Tickets</a></li>
                                        <li><a class="dropdown-item" href="#">Network Status</a></li>
                                    </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="title" aria-current="page" href="#">Affiliates</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row">
                <div class="col-md-12 hi">
                    <h1>Hi, {{user.firstName}} {{user.lastName}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" id="clientAreaBg">
                    <p><strong>WHC</strong> / Client Area</p>
                </div>
            </div>

    <div class="container">
        <table class="table">
            <caption>Plan will renew on 2022-08-13 @ $20.99/month</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Package Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                
             {{#if title}}
                <td style="font-size: 1.5em;">{{title}}</td>
                <td>{{description}}</td>
                <td>${{price}}</td>
                <td>
                    <a href="shopping" class="btn btn-lg btn-block btn-primary" id="">Purchase</a>
                    <a href="/cart/delete-cart/{{id}}" class="btn btn-lg btn-block btn-danger" id="">Remove</a>
                </td>
               
                {{else}}
                <td style="font-size: 1.5em;">-</td>
                <td>-</td>
                <td>-</td> 
                <td>
                    <a href="shopping" class="btn btn-lg btn-block btn-light disabled">Purchase</a>
                    <a href="" class="btn btn-lg btn-block btn-light disabled">Remove</a>
                </td>
              </tr>
             {{/if}}
            </tbody>
          </table>
    </div>